body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: CircularSp, spotify-circular, Helvetica, Arial, sans-serif;
}
.container {
  width: 100%;
  height: 706px;
  background-image: url(../assets/Spotify_bg.jpg);
}
.navbar {
  background-color: rgba(0, 0, 0, 0.8);
  height: 80px;
  font-weight: bold;
  display: flex;
  align-items: center;
  padding-left: 150px;
}
.logo {
  width: 135px;
  height: 40px;
  margin-right: 530px;
}
.logo img {
  width: 100%;
  height: 100%;
}
.nav a {
  color: #ffffff;
  text-decoration: none;
  margin-right: 30px;
  font-size: 16px;
}
a:hover {
  color: springgreen;
}
.hero {
  width: 800px;
  height: 400px;
  margin: auto;
  margin-top: 100px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #ffffff;
  line-height: 1.5;
}
.h1 {
  font-size: 85px;
  font-weight: bold;
  margin-bottom: 0%;
}
.h2 {
  font-size: 15px;
  font-weight: 600;
  margin-top: 0%;
}
button {
  background-color: #02bf34;
  width: 200px;
  height: 45px;
  border: none;
  border-radius: 500px;
  color: #ffffff;
  font-weight: 650;
  font-size: 12px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
button:hover {
  background-color: #02a82e;
}
button:active {
  background-color: #119e43;
  transform: scale(0.98);
}
